<div class="blogpost">

    <h3 class="posttitle"><%= link_to blogpost.caption, blogpost_path(blogpost) %></h3>    
    <h3 class="postdate"><%= format_date(blogpost.created_at) %></h3>
	<div class="entry">
		<%= bbparse(blogpost.content) %>
	</div>
	<div class="tags">Tags:
		<% blogpost.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
		<% end %>
	</div>
	<div class="metainfo">
		<span>by: <%= blogpost.user.name %></span>
		
    	<% if current_user?(blogpost.user) or (current_user and current_user.admin?) then %>
    		<span class="modify">
        		//
    			<span class="edit">
    				<%= link_to "edit post", edit_blogpost_path(blogpost) %>
    			</span>
    			<span>|</span>
    			<span class="delete">
    				<%= link_to "delete post", confirm_destroy_blogpost_path(blogpost) %>
    			</span>
    		</span>
    	<% end %>
	</div>

</div>
