<div class="blogpost">
    
    <h3 class="postdate"><%= format_date(blogpost.created_at) %></h3>
    <h3 class="posttitle"><%= link_to blogpost.caption, blogpost_path(blogpost) %></h3>
	<div class="metainfo">
		<div class="postedby">by: <%= blogpost.user.name %></div>
	</div>
	<div class="entry">
		<%= blogpost.content %>
	</div>

	<% if current_user?(blogpost.user) or current_user and current_user.admin? then %>
		<div class="modify">
			<span class="edit_button">
				<%= link_to "edit post", edit_blogpost_path(blogpost) %>
			</span>|
			<span>
				<%= link_to "delete post", confirm_destroy_blogpost_path(blogpost) %>
			</span>
		</div>
	<% end %>
	
</div>
