<div class="blogpost">
	<div class="metainfo">
		<div class="user"><%= blogpost.user.name %></div>
		<div class="date"><%= blogpost.created_at %></div>
	</div>
	<% if current_user?(blogpost.user) or current_user and current_user.admin? then %>
		<div class="modify">
			<span class="edit_button">
				<%= link_to "edit post", edit_blogpost_path(blogpost) %>
			</span>
			<span>
				<%= link_to "delete post", confirm_destroy_blogpost_path(blogpost) %>
			</span>
		</div>
	<% end %>
	<h3 class="caption"><%= link_to blogpost.caption, blogpost_path(blogpost) %></h3>
	<p class="content">
		<%= blogpost.content %>
	</p>

</div>
