<div class="blogpost">

    <h3 class="posttitle"><%= link_to blogpost.caption, blogpost_path(blogpost) %></h3>    
    <h3 class="postdate"><%= format_date(blogpost.created_at) %></h3>
	<div class="entry">
		<%= bbparse(blogpost.content) %>
	</div>
	

	<div class="metainfo">
	    <span>
	       1337 Comments
	    </span><br />
		<span>
		  Posted by <%= link_to blogpost.user.name, user_path(blogpost.user) %> in
            <% if blogpost.category then %>
                <%= link_to blogpost.category.name, category_path(blogpost.category) %>
            <% else %>
                <!-- Uncategorized -->
            <% end %>
        </span>
        
    	<% if current_user?(blogpost.user) or (current_user and current_user.admin?) then %>
    		<span class="modify">
        		//
    			<span class="edit">
    				<%= link_to "edit post", edit_blogpost_path(blogpost) %>
    			</span>
    			<span>|</span>
    			<span class="delete">
    				<%= link_to "delete post", confirm_destroy_blogpost_path(blogpost) %>
    			</span>
    		</span>
    	<% end %><br />
    	
        <span>
            Tagged with: <%= (blogpost.tags.map {|t| link_to t.name, tag_path(t)}).join(", ").html_safe %>
        </span>
	</div>

</div>
