<% provide :title, "Delete Post: #{@blogpost.caption}" %>
<h2 class="section-heading">Delete Post: <%= @blogpost.caption %></h2>
<%= form_tag(blogpost_path(@blogpost), method: 'delete') do %>
	<div class="alert alert-message">
        <div class="message-text">Do you really want to delete this post?</div><br /><br />
        <%= button_tag do %>
          Delete this post
        <% end %>
		or <%= link_to "cancel", root_path, class: 'cancel-delete'%>
	</div>
<% end %>
<%= render @blogpost %>
