<% provide :title, "edit post" %>
<h2 class="section-heading">Edit Post: <%= @blogpost.caption %></h2>
<div class="editpost">
	<%= form_for(@blogpost) do |f| %>
		<%= render "shared/error_messages", object: f.object %>

		<%= f.label :caption, "Post title" %>
		<%= f.text_field :caption %>
		
		<div class="field">
			<%= f.text_area :content %>
		</div>
		<%= f.submit "Update", class: "submit_button" %>
	<% end %>
</div>
