<% provide :title, "Edit Post" %>
<h2 class="section-heading">Edit Post: <%= @blogpost.caption %></h2>
<div class="editpost">
	<%= form_for(@blogpost) do |f| %>
		<%= render "shared/error_messages", object: f.object %>

		<div class="blogpost-caption">
    		<!--<%= f.label :caption, "Post title" %>-->
    		<%= f.text_field :caption %>
        </div>
		
		<div class="blogpost-content">
			<%= f.text_area :content %>
		</div>

		<div class="blogpost-category">
    		<%= f.label :category_id, "Category" %>
    		<%= f.collection_select :category_id, @categories, :id,  :name, @category_selection_params %>
        </div>
        
        <div class="blogpost-tags">
    		<!--<%= label_tag :tags, "Tags" %>-->
    		<%= text_field_tag :tags , @tags%>
        </div>
        
        <div class="blogpost-action-buttons">
    		<%= f.submit "Update Post", class: "submit_button" %>
        </div>
	<% end %>
</div>
