<% provide :title, "New Post" %>
<h2 class="section-heading">New Post</h2>

<% if @preview_desired %>
    	<h3 class="posttitle"><%= @blogpost.caption %></h3>    
	<div class="entry">
		<%= html_whitelist(@blogpost.content) %>
	</div>
<% end %>

<div class="editpost">
    <%= form_for(@blogpost) do |f| %>
        <%= render "shared/error_messages", object: f.object %>

		<div class="blogpost-caption">
		  <!--<%= f.label :caption, "Post Title" %>-->
		  <%= f.text_field :caption, placeholder: "Enter a good title here." %>
		</div>
		
		<div class="blogpost-content">
			<%= f.text_area :content, placeholder: "Put your content (either great or boring) here." %>
		</div>
		
		<div class="blogpost-category">
    		<%= f.label :category_id, "Category" %>
    		<%= f.collection_select :category_id, @categories, :id,  :name, prompt: true%>
		</div>

		<div class="blogpost-tags">
    		<!--<%= label_tag :tags, "Tags, separated by commas" %>-->
    		<%= text_field_tag :tags, @tags, placeholder: "Your tags belong here. Please, separate, by, commas." %>
        </div>
    
        <div class="blogpost-action-buttons">
        <%= button_tag name: :save do %>
          Publish post
        <% end %>
        <%= button_tag name: :preview do %>
          Preview post
        <% end %>
		</div>
	<% end %>
</div>
