<% provide :title, "New Post" %>
<h2 class="section-heading">New Post</h2>
<div class="editpost">
	<%= form_for(@blogpost) do |f| %>
		<%= render "shared/error_messages", object: f.object %>

		<%= f.label :caption, "Post title" %>
		<%= f.text_field :caption %>
		
		<div class="field">
			<%= f.text_area :content, placeholder: "Post content" %>
		</div>

		<%= label_tag :tags, "Tags, separated by commas" %>
		<%= text_field_tag :tags %>

		<%= f.submit "Create", class: "submit_button" %>
	<% end %>
</div>
