<% provide :title, "new post" %>
<h2 class="section-heading">New Post</h2>
<div class="newpost">
	<%= form_for(@blogpost) do |f| %>
		<%= render "shared/error_messages", object: f.object %>

		<%= f.label :caption, "Post title" %>
		<%= f.text_field :caption %>
		
		<div class="field">
			<%= f.text_area :content, placeholder: "Post content" %>
		</div>
		<%= f.submit "Create", class: "submit_button" %>
	<% end %>
</div>
