<% provide :title, "Sign in" %>
<h2 class="section-heading">Sign in</h2>
<div class="sign-in-form">
    <%=form_tag(sessions_path, method: 'post') do %>
        <div class="email">
            <label for="email">Email</label><br />
            <%= text_field_tag :email %> <br />
        </div>

		<div class="password">
    		<label for="password">Password</label><br />
    		<%= password_field_tag :password %> <br />
		</div>
		
		<div class="permanent">
    		<label for="permanent">Stay logged in?</label>
    		<%= check_box_tag :permanent %><br />
		</div>

		<div class="sign-in">
    		<%= submit_tag "Sign in", class: "sign-in-button" %>
		</div>
	<% end %>

	<div class="new-user">New user? <%= link_to "Create account", signup_path %></div>
</div>
