<li>
    <div class="single-comment">
    	<% if comment.caption? then %>
    		<h4 class="comment-title"><%= comment.caption %></h4>
    	<% end %>
    	<div class="comment-entry">
    		<%= html_whitelist comment.content %>
    	</div>
    	<div class="comment-metainfo">
    		<span>by: <%= comment.author.name %></span>
    		|<span> posted: <%= format_date comment.created_at %> </span>
    	</div>
    	<div class="comment-reply-link">
    		<%= link_to "reply", answer_blogpost_comment_url(blogpost, comment) %>
    	</div>
    </div>
    	<% if comment.comments.any? then %>
    		<ul>
    			<%= render comment.comments.all, blogpost: blogpost %>
    		</ul>
    	<% end %>
</li>
