<li>
    <div class="single-comment">
      <% if comment.caption.empty? then %>
        <h4 class="comment-title"><%= comment.caption %></h4>
      <% end %>
    	<div class="comment-entry">
    		<%= html_whitelist comment.content %>
    	</div>
    	<div class="comment-metainfo">
    		<span>by: <%= comment.author.name %></span>
    		|<span> posted:
          <time datetime="<%= blogpost.created_at.iso8601 %>">
            <%= format_date(blogpost.created_at) %>
          </time>
        </span>
    	</div>
    	<div class="comment-reply-link">
        <%= link_to "reply", answer_blogpost_comment_url(blogpost.id, comment.id) + "#new_comment" %>
    	</div>
    </div>
      <% if comment.comments.any? then %>
    		<ul>
          <% comment.comments.each do |comment| %>
		        <%= render 'comments/comment', comment: comment, blogpost: blogpost %>
          <% end %>
    		</ul>
    	<% end %>
</li>
