<div class="editcomment">
	<%= form_for([blogpost, comment]) do |f| %>
		<%= render "shared/error_messages", object: f.object %>
		<%= render "shared/error_messages", object: author %>

		<% #hidden parent id if parent is not a blogpost but a comment %>
		<% if blogpost != predecessor then %>
			<%= hidden_field_tag :pred_id, predecessor.id %>
		<% end %>

		<% #if no users is logged in, a name must be provided %>
		<% if not signed_in? then %>
		  <div class="comment-author-name">
			<%= label_tag :name, "Name" %>
			<%= text_field_tag :name, author.name, placeholder: "Name" %>
		  </div>
		<% end %>

		<div class="comment-caption">
    		<%= f.label :caption, "Comment title" %>
    		<%= f.text_field :caption, placeholder: "Caption" %>
		</div>
		
		<div class="comment-content">
		  <%= f.text_area :content, placeholder: "Comment content" %>
		</div>
		
		<div class="comment-buttons">
    		<%= f.submit "Create", class: "submit_button" %>
		</div>
	<% end %>
</div>
