<% provide :title, "Edit file details" %>
<h2 class="section-heading">Edit file details</h2>
<div class="edit_file">
<%= form_for(@hosted_file) do |f| %>
	<%= render 'shared/error_messages', object: @hosted_file %>

	<p class="description">
		<%= f.label :descripton, "File Description" %>
		<%= f.text_area :description %>
	</p>
	<%= f.label :public, "File is public?" %>
	<%= f.check_box :public %>

  <%= button_tag do %>
    Update
  <% end %>

<% end %>
</div>
