<% provide :title, "Edit user" %>
<h2 class="section-heading">Edit user <%= @user.name %></h2>
<div class="edit-user">
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="edit-user-name">
    		<%= f.label :name %>
    		<%= f.text_field :name %>
		</div>
		
		<div class="edit-user-email">
    		<%= f.label :email %>
    		<%= f.text_field :email %>
        </div>

        <div class="edit-user-password">
    		<%= f.label :password %>
    		<%= f.password_field :password %><br />
    
    		<%= f.label :password_confirmation, "Confirmation" %>
    		<%=f.password_field :password_confirmation %>
		</div>

		<div class="edit-user-action-buttons">
		    <%= f.submit "Save changes", class: "submit_button" %>
		    <span class="delete"><%= link_to "Delete this user", confirm_destroy_user_path(@user) %></span>
		</div>
		
	<% end %>
</div>
