<% provide :title, "new user" %>
<h2 class="section-heading">New User</h2>
<div class="new-user-form">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
        
        <div class="user-name">
            <%= f.label :name %>    
            <%= f.text_field :name, placeholder: "Username" %>
        </div>
            
            
        <div class="user-email">
            <%= f.label :email%>
            <%= f.text_field :email, placeholder: "E-Mail" %>
        </div>
            
        <div class="user-password">
            <%= f.label :password %>
            <%= f.password_field :password, placeholder: "Password"  %>
        </div>
            
        <div class="user-password-confirm">
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, placeholder: "Password"  %>
        </div>
            
        <div class="create-user-button">
            <%= f.submit "Create account", class: "submit_button" %>
        </div>
    <% end %>
</div>
