<% provide :title, "search by tags" %>
<h2 class="section-heading">Search by tags</h2>
<div class="search">
	<%= form_tag search_tags_path, method: 'post' do %>
		<%= label_tag :tags, "Search for entries with all of those tags (separated by commas)" %>
		<%= text_field_tag :tags %>
		
    <%= button_tag do %>
      search
    <% end %>
	<% end %>
</div>

<% unless @results.empty? %>
<div class="results">
	<ul>
		<% @results.each do |blogpost| %>
			<li>
				<%= link_to blogpost.caption, blogpost_path(blogpost) %>
			</li>
		<% end %>
	</ul>
</div>
<% end %>
