<% provide :title, "edit category #{@category.name}" %>
<h2 class="section-heading">Edit <%= @category.name %></h2>
<div class="edit-category-form">
	<%= form_for(@category) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="category-name">
    		<%= f.label :name %>
    		<%= f.text_field :name %>
        </div>

		<div class="category-description">
		    <%= f.label :description %>
		    <%= f.text_area :description %>
		</div>

		<%= f.submit "submit changes", class: "submit_button" %>
	<% end %>
	<span class="delete"><%= link_to "Delete this category", confirm_destroy_category_path(@category) %></span>
</div>
