<% provide :title, "new category" %>
<h2 class="section-heading">New Category</h2>
	<%= form_for(@category) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
		</p>
		
		<%= f.submit "Create category", class: "submit_button" %>
	<% end %>
<div class="new-category-form">
</div>
