<% provide :title, "new category" %>
<h2 class="section-heading">New Category</h2>

<div class="edit-category-form">
	<%= form_for(@category) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<div class="category-name">
    		<%= f.label :name %>
    		<%= f.text_field :name %>
        </div>

		<div class="category-description">
		    <%= f.label :description %>
		    <%= f.text_area :description %>
		</div>
		
    <%= button_tag do %>
      Create category
    <% end %>
	<% end %>
</div>
