<% provide :title, "category: #{@category.name}" %>
<h2 class="section-heading">Category: <%= @category.name %></h2>
<h3>This Category has <%= pluralize(@category.blogposts.count, "entry") %></h3>

<div class="paginate"><%= will_paginate(@blogposts) %></div>
<ul>
	<% @blogposts.each do |blogpost| %>
		<li><%= link_to blogpost.caption, blogpost_path(blogpost) %></li>
	<% end %>
</ul>
<div class="paginate"><%= will_paginate(@blogposts) %></div>
<p><%= link_to "edit this category", edit_category_path(@category) %></p>
<p><%= link_to "call categories", categories_path %></p>
