<%#section marked as unpublished if quote is unpublished %>
<% unless quote_of_the_day.published? %>
<div class="unpublished">
<% end %>

<div class="qotd">
	<% if not quote_of_the_day.sourceurl then %>
		<blockquote>
	<% else %>
		<blockquote cite="<%= quote_of_the_day.sourceurl %>">
	<% end %>
		<%= bbparse quote_of_the_day.content %>
	</blockquote>
	
	<% if !( quote_of_the_day.sourcedesc.blank? or quote_of_the_day.sourceurl.blank? ) then %>
		<span class="quote-source">&mdash; <a href="<%= quote_of_the_day.sourceurl %>"><%= quote_of_the_day.sourcedesc %></a></span>
	<% elsif !quote_of_the_day.sourcedesc.blank? and quote_of_the_day.sourceurl.blank? %>
		<span class="quote-source">&mdash; <%= quote_of_the_day.sourcedesc %></span>
	<% elsif !quote_of_the_day.sourceurl.blank? and quote_of_the_day.sourcedesc.blank? %>
		<span class="quote-source"><a href="<%= quote_of_the_day.sourceurl %>">Source</a></span>
	<% end %>
	
	<% if show_edit_links then %>
		<div class="quote-author-links">
			<span class="edit"><%= link_to "edit this quote", edit_quote_of_the_day_path(quote_of_the_day) %></span> | 
			<span class="delete"><%= link_to "delete this quote", confirm_destroy_quote_of_the_day_path(quote_of_the_day) %></span>
		</div>
	<% end %>
</div>

<% unless quote_of_the_day.published? %>
</div>
<% end %>