<% provide :title, "new quote" %>
<h3 class="section_heading">New Quote</h3>
<div class="quoteform">
	<%= form_for @quote_of_the_day do |f|%>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.text_area :content, rows: 10 %>

		<%= f.label :sourcedesc, "Name of the source" %>
		<%= f.text_field :sourcedesc %>

		<%= f.label :sourceurl, "URL to the source" %>
		<%= f.text_field :sourceurl %>

		<div>
			<%= f.label :published, "publish now?" %>
			<%= f.check_box :published %>
			If you do not publish this quote now, it will be put in the buffer for auto-publishing.
		</div>
	
    <%= button_tag do %>
      create quote
    <% end %>
	<% end %>
</div>
