<!DOCTYPE html>
<html lang="de">
    <head>
    	<meta charset="UTF-8">
        <title><%=full_title yield :title %></title>    	
	      <%= stylesheet_link_tag "style", media: "screen" %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= favicon_link_tag "favicon.png", type: 'image/png', rel: 'icon' %>
    
	      <%= auto_discovery_link_tag :atom, "/feed.atom" %>
	      <%= auto_discovery_link_tag :rss, "/feed.rss" %>
    	
        <%= csrf_meta_tags %>
        
    </head>
    
    <body>
        
        <div class="wrap-all">
            <div class="wrapper">
            	<%= render 'layouts/header' %>
            	<% flash.each do |key, value| %>
            		<div class="alert alert-<%= key %>"><%=value %></div>
            	<% end %>
            	<div class="content">
            		<%= yield %>
            	</div>
            	<%= debug(params) if Rails.env.development? %>
            </div>
        </div>
        
    </body>
</html>
